{{>layout/header}}
<h1>Start with Springboot Ver .2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">Registration of writing</a>
        </div>
    </div>
</div>
{{>layout/footer}}